body {
  background-image: url("./assets/background.png");
  background-size: cover;
  height: 100%;
}

html {
  height: 100%;
}

.box.prop-info {
  font-size: 20px;
}

.home,
.home-icon,
.nav-text,
.navbar-item {
  background-image: url("./assets/Nav-background.png");
  background-size: cover;
  color: #d7be69 !important;
}

img {
  width: 5rem;
  height: 3.5rem;
}

#Landteg {
  color: #d7be69 !important;
  font-weight: bold;
  font-size: 3.25rem;
  margin-top: 3rem;
}

.input {
  background-color: black;
}
#userInput {
  margin-top: 10% !important;
  padding: 1.5rem;
}

::placeholder {
  color: #d7be69 !important;
}

.button {
  background-color: gold !important;
  color: black !important;
  width: 12rem;
}

.button:hover {
  transition: transform 1s ease;
  transform: scale(1.05);
}

/* #logincss,
.logincss {
  background-image: url("./assets/background.png");
  background-size: cover;
} */
