body,
html {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.pageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/background.png");
  background-repeat: repeat;
  background-size: auto;
  background-color: black;
  background-attachment: fixed;
}

.content h2 {
  color: #d7be69 !important;
}

.box.prop-info {
  font-size: 20px;

  color: #d7be69 !important;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.home,
.home-icon,
.nav-text,
.navbar-item {
  background-image: url("./assets/Nav-background.png");
  background-size: cover;
  color: #d7be69 !important;
  justify-content: space-between;
}
.navbar-item {
  margin: 0.5rem;
}

#nav {
  position: relative;
  min-width: 218px;
}

.nav-text {
  right: 0;
  top: 0;
  float: right;
}

img {
  width: 5rem;
  height: 3.5rem;
}

#Landteg {
  color: gold !important ;
  font-weight: bold;
  font-size: 3.25rem;
  margin-top: 6.5rem;
}

.input {
  background-color: black;
  color: #d7be69 !important;
  margin: 0.5rem;
}

#userInput {
  margin-top: 10% !important;
  padding: 1.5rem;
  padding-top: 0;
}

.label {
  color: #d7be69;
}

::placeholder {
  color: #d7be69 !important;
}

.button,
#logout,
#addTenats,
#addUnit,
#addProperty,
#deleteUnit,
#deleteTenants {
  background-color: gold !important;
  color: black !important;
  width: 12rem;
  margin: 2.5rem 0;
  cursor: pointer;
}

#deleteProperties {
  background-color: lightcoral;
  width: 3rem !important;
}

#PmDetailbtn {
  display: block;
  margin: 2.5rem auto 0;
  border-radius: 20px;
}

.button:hover,
#logout:hover,
#addTenats:hover,
#addUnit:hover,
#addProperty:hover,
#deleteProperties:hover,
#deleteUnit:hover,
#deleteTenants:hover {
  transition: transform 1s ease;
  transform: scale(1.05);
  cursor: pointer;
}

/* #logincss,
.logincss {
  background-image: url("./assets/background.png");
  background-size: cover;
} */

.footer {
  background-image: url("./assets/Nav-background.png");
  background-size: cover;
  color: #d7be69 !important;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.social,
.fab {
  padding: 0.5rem;
  background: none;
}

.social a {
  line-height: 40%;
  padding: 0px;
  margin: 0px;
  width: 10%;
  height: 10%;
}

.contributors li {
  display: inline-block;
  padding: 0.5rem;
}

.contributors a {
  color: #d7be69;
}

.footer-left {
  border: 1px solid;
  border: 1px solid;
  padding: 0px;
  margin-left: 0px;
  display: inline-block;
  justify-content: center !important;
  align-items: center !important;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
}

i {
  background-color: black;
  color: #d7be69;
}

/*pm-section*/

.data-box-create {
  width: auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  justify-items: center;
  display: inline-table;
  border-radius: 20px;
  margin: 1rem;
}

.data-box {
  color: white;
  width: 23%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  justify-items: center;
  display: inline-table;
  border-radius: 20px;
  margin: 1rem;
}

.PMContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box.user-info {
  margin-right: 1rem;
}

.info-start {
  color: goldenrod;
}

#Pm-properties {
  margin: 1rem;
  width: 65% !important;
}

#logout {
  height: 2.5rem;
  width: auto;
  margin: 0;
  border-radius: 20px;
  font-weight: bolder;
}
#addTenats,
#addUnit,
#addProperty,
#deleteProperties,
#deleteUnit,
#deleteTenants {
  position: relative;
  height: 2.5rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  font-weight: bolder;
}

.prop-info {
  width: 25rem;
  color: #d7be69;
}

#firstName-signup,
#lastName-signup,
#password-signup,
#email-signup {
  width: 20rem;
}

.media-content {
  padding: 1rem;
}

.card-content {
  overflow: auto;
}

.add-property {
  padding: 1rem;
  margin: 0.3rem;
}

.PmDetail {
  width: 60% !important;
}

.PmDetailFunction {
  position: relative;
  width: 25%;
  background-image: url("./assets/Nav-background.png");
  opacity: 0.7;
  float: right;
}

#PmDetail {
  display: inline;
}
