body {
  background-image: url("./assets/background.png");
  background-size: cover;
  height: 100%;
}

html {
  height: 100%;
}

.box.prop-info {
  font-size: 20px;
}

.home,
.home-icon,
.nav-text,
.navbar-item {
  background-image: url("./assets/Nav-background.png");
  background-size: cover;
  color: #d7be69 !important;
}

img {
  width: 5rem;
  height: 3.5rem;
}

#Landteg {
  color: #9b1b0a !important;
  font-weight: bold;
  font-size: 3.5rem;
}

.input {
  background-color: black;
}

#userInput {
  margin-top: 25% !important;
}

.lablel {
  color: #d7be69; 
}

::placeholder {
  color: #d7be69 !important;
}

.button {
  background-color: gold !important;
  color: black !important;
}

/* #logincss,
.logincss {
  background-image: url("./assets/background.png");
  background-size: cover;
} */


.footer {
  background-image: url("./assets/Nav-background.png");
  background-size: cover;
  color: #d7be69 !important;
  padding: 0px; 
  position: absolute; 
  bottom: 0px; 
  width: 100%; 
}

.social a {
  line-height: 40%;
  padding: 0px; 
  margin: 0px; 
  width: 10%; 
  height: 10%; 
}

.contributors li {
  display: inline-block;
  padding: .5rem;  
}

.footer-left{

  border: 1px solid ;
  border: 1px solid ;
  padding: 0px;
  /* margin-left: 0px; */
  display: inline-block;
  justify-content: center !important;
  align-items: center !important;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
}

i {
  background-color: black;
  color: #d7be69;
}